<h1 class="my-3" style="text-align: center;">List of Location to Rent</h1>
<div class="container">
  <div class="row">
  <% @listings.each do |listing| %>
    <div class="col-12 col-md-4">
      <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= listing.url %>)">
      <%= link_to listing.title , listing_path(listing) %>
      </div>
    </div>

  <% end %>
  </div>
</div>

